<!DOCTYPE web-app PUBLIC
        "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
        "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>

    <display-name>Archetype Created Web Application</display-name>

    <!-- Spring Web MVC 사용하기 위한 DispatcherServlet servlet 등록 -->
    <servlet>
        <servlet-name>dispatcher</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>

        <!-- ContextLoaderListener 를 사용하기 위해 context-param 으로 parameter 를 정의한 것처럼 -->
        <!-- DispatcherServlet 을 사용하기 위해 init-param 으로 parameter 를 정의할 수 있다.      -->
        <init-param>
            <param-name>contextClass</param-name>
            <param-value>org.springframework.web.context.support.AnnotationConfigWebApplicationContext</param-value>
        </init-param>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>me.nimkoes.MyWebConfig</param-value>  <!-- Servlet WebApplicationContext 를 만들 때 사용할 설정 파일 -->
        </init-param>
    </servlet>

    <servlet-mapping>
        <servlet-name>dispatcher</servlet-name>
        <url-pattern>/app/*</url-pattern>
    </servlet-mapping>

</web-app>
